PORT=4000
AUTH_SERVICE_URL=http://localhost:3001
PATIENT_SERVICE_URL=http://localhost:3002
APPOINTMENT_SERVICE_URL=http://localhost:3003
DOCTOR_SERVICE_URL=http://localhost:5002
TELEMEDICINE_SERVICE_URL=http://localhost:5003
