PORT=3005
MONGO_URI=mongodb+srv://uditha:uditha@cluster0.dt9hq.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_2024
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here
SMTP_FROM=your_email@gmail.com
NOTIFYLK_USER_ID=your_notifylk_user_id
NOTIFYLK_API_KEY=your_notifylk_api_key
NOTIFYLK_SENDER_ID=NotifyDEMO
NOTIFYLK_API_BASE_URL=https://app.notify.lk/api/v1
NOTIFICATION_CHANNELS=email
